.bgimage {
  width: 100%;
  height: 40%;
  opacity: 0.3;
}

.divbgimage {
  width: auto;
  height: 1000px;
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
      164deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(75, 178, 204, 1) 27%,
      rgba(142, 132, 199, 1) 89%
    )
    fixed;

  background: rgb(110, 110, 66);

  background: linear-gradient(35deg, rgb(195, 34, 55) 23%, rgb(68, 3, 106) 75%)
    fixed;
  background: linear-gradient(
      162deg,
      rgba(110, 110, 66, 1) 15%,
      rgba(26, 76, 106, 0.9781162464985994) 58%
    )
    fixed;
  background: rgb(7, 45, 47);
  background: linear-gradient(
      344deg,
      rgba(7, 45, 47, 1) 11%,
      rgba(106, 125, 157, 1) 46%,
      rgba(43, 43, 40, 0.9781162464985994) 97%
    )
    fixed;
}

.clasificacionMovie {
  text-shadow: 5px 5px 5px #f15c05;
}

.details-movie {
  height: 600px;
}

.form {
  background-color: #90cea1;
}

.font-size {
  font-size: calc(1.525rem + 1.3vw);
}

.font-color {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px #898e8e;
  font-weight: bold;
}

.formulario {
  background: rgb(6, 168, 122);
  background: linear-gradient(
    253deg,
    rgba(6, 168, 122, 1) 0%,
    rgba(86, 118, 153, 1) 59%
  );
  color: antiquewhite;
}

.size-form {
  margin-top: 15%;

  height: 100%;
  background-color: #90cea1;
}
.footer {
  display: flex;
  height: 6rem;
  width: 100%;
  align-items: center;
  background-color: black;
}

.posterMovie {
  box-shadow: 5px 5px 5px #95c4d0;
}

.titleMovie {
  color: rgb(18, 48, 56);
  text-shadow: 5px 5px 5px #0b7e9c;
}

.angled-gradient {
  background: linear-gradient(70deg, #00b3e5, #90cea1);
}

.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2824, 205, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 1s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 255, 245, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.35;
}
